/* --------------- Structure --------------- */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    cursor: pointer;
  
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.03); 
      border-radius: 10px;
    }
  
    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 0.3s ease;
      border-radius: 10px;
    }
  
  
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.4);
      background: linear-gradient(135deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: opacity 0.3s ease;
      pointer-events: none;
    }
  
  
    .overlay i {
      font-size: 3rem;
      color: var(--white);
      transform: scale(0.8);
      transition: transform 0.3s ease, color 0.3s ease;
    }
  
    &:hover .overlay {
      opacity: 1;
    }
  
    &:hover .overlay i {
      transform: scale(1);
      color: var(--secondaryColor);
    }
  }
  
  
  /* --------------- Media Queries --------------- */
  @media only screen and (max-width: 1200px) {
    .grid-col-2 {
      gap: 25px;
    }
  }
  
  @media only screen and (max-width: 992px) {
    .gallery-grid {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .gallery-grid {
      grid-template-columns: 1fr;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .gallery-grid {
      gap: 10px;
    }
  
    .gallery-item img {
      filter: brightness(0.9);
    }
  }
  